@import "../font-awesome/css/font-awesome.css";

.item {
  background: #f3f3f3;
  padding-bottom: 80px;
}

hgroup h1 {
  display: inline-block;
  font: 700 43px 'IBM Plex Serif', serif;
  margin-right: 15px;
}

.breadcumbs {
  margin-top: 26px;
}

.breadcumbs a {
  text-decoration: none;
  color: #2e2e2e;
  position: relative;
  padding-right: 50px;
}

.breadcumbs a::after {
  content: '';
  position: absolute;
  right: 12px;
  width: 20px;
  height: 9px;
  background: url(../images/cat-icons.png) -3px -168px no-repeat;
  top: 50%;
  margin-top: -5px;
}
.breadcumbs:before {
  content: '';
  position: absolute;
  right:0;
  top:-0;
  width: 508px;
  height: 295px;
  background: url(../images/contacts-map.png) no-repeat;
  z-index: 0;
}

.cities-list {
  font-weight: 700;
}

hgroup {
  border-bottom: 3px solid;
  margin-bottom: 55px;
position: relative;
}


.cities-tab-list {
  margin: -39px -32px 30px -28px;
}
#citiesTab {
  text-align: justify;
  border-bottom: none;
}


#citiesTab:after {
    content: '';
    display: inline-block;
    width: 100%;
}

#citiesTab .nav-item {
  float: none;
  display: inline-block;
  background: transparent;
}

#citiesTab .nav-link {
  color: #fae41f;
  display: inline-block!important;
  padding: 0 5px!important;
  background-image: url(../images/contacts-grpahics-label-c.png);
  height: 26px;
  line-height: 25px;
  background-position: 0 0;
  background-repeat-y: no-repeat;
      background-color: transparent;
          border-radius: 0;
          border: none!important;
          transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}

#citiesTab .active .nav-link {
  background-position: 0 -27px;
}
.nav-link:after,
.nav-link:before {
  content: '';
  position: absolute;
  background-image: url(../images/contacts-grpahics-label-l-r.png);
}
#citiesTab .nav-link:hover {
  background-color: transparent;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
  border-color: transparent;
}

.nav-link:before {
  left: -8px;
  width: 8px;
  height: 25px;
  background-position: 0px -1px;
}
.nav-link:after {
  right: -7px;
  width: 8px;
  height: 25px;
  background-position: 0px -28px;
}

.active .nav-link:before {
  background-position: 0px -55px;
}
.active .nav-link:after {
  background-position: 0px -82px;
}

.tab-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.expandable {
    height: 3em;
    overflow: hidden;
  }
.expandable.in:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(243,243,243,0.77) 35%, rgba(243,243,243,1) 100%);
    height: 20px;
}
#citiesTabPane hr {
  border-color: #d8d8d8;
      margin: 40px 0 45px;
}
.placeholder-map {
  width: 100%;
}

#citiesTabPane .icon  {
  display: inline-block;
  background-image: url(../images/contacts-icons.png);
width: 33px;
margin-right: 15px;
}
.map-point {
  height: 23px;
  background-position: 6px -130px;
  margin-bottom: -8px;
    margin-right: 12px;
}

.metro {
  height: 24px;
  background-position: -1px -72px;
}

.mail {
  height: 19px;
  background-position: 1px -21px;
}

.phone {
  height: 23px;
  background-position: 4px 23px;
}

.working-hours {
  height: 29px;
  background-position: 0px -100px;
}
.walk {
  height: 29px;
  background-position: 7px -42px;
}
.drive {
  height: 18px;
  background-position: 2px 0;
}
