@import "font-awesome.css";

body {
  display: none;
  /* wait for all scenarious are done */
}

#content .item {
  background: #f3f3f3;
  padding-bottom: 80px;
}

hgroup h1 {
  display: inline-block;
  font: 700 43px 'IBM Plex Serif', serif;
  margin-right: 15px;
}

.breadcumbs {
  margin-top: 26px;
}

.breadcumbs a {
  text-decoration: none;
  color: #2e2e2e;
  position: relative;
  padding-right: 50px;
}

.breadcumbs a::after {
  content: '';
  position: absolute;
  right: 12px;
  width: 20px;
  height: 9px;
  background: url(../images/cat-icons.png) -3px -168px no-repeat;
  top: 50%;
  margin-top: -5px;
}

.item-id {
  font-weight: 700;
}

.item-id span {
  color: #fae41f;
  display: inline-block;
  padding: 0 5px;
  position: relative;
  background-image: url(../images/item-grpahics-label-c.png);
  background-position: 0;
  background-repeat: repeat-x;
  height: 25px;
  line-height: 25px;
  margin-left: 15px;
}

.item-id span:after,
.item-id span:before {
  content: '';
  position: absolute;
  background-image: url(../images/item-grpahics-label-l-r.png);
}

.item-id span:before {
  left: -7px;
  width: 7px;
  height: 25px;
  background-position: 0px -51px;
}

.item-id span:after {
  right: -6px;
  width: 6px;
  height: 25px;
  background-position: -1px -26px;
}

.write-review a:before,
.print-page a:before,
.manager-i:before {
  content: '';
  position: absolute;
  background: url(../images/item-grpahics.png);
}

hgroup {
  border-bottom: 3px solid;
  margin-bottom: 55px;
}

.item-details {
  margin: -39px -35px 30px;
}

.btn-dashed {
  color: #2b2a2f;
}

.btn-dashed:hover {
  color: #2b2a2f;
  text-decoration: none;
  border-color: rgba(0, 0, 0, 0);
}

.btn-dashed {
  border-bottom: 1px dashed;
  position: relative;
  -webkit-transition: border-color .2s linear;
  /* Saf3.2+, Chrome */
  -moz-transition: border-color .2s linear;
  /* FF3.7+ */
  -o-transition: border-color .2s linear;
  /* Opera 10.5 */
  transition: border-color .2s linear;
}
.btn-dashed:active {
      color: #2b2a2f;
}
.write-review a:before {
  width: 20px;
  height: 20px;
  background-position: -5px -301px;
  left: -25px;
}

.print-page {
  padding-right: 0;
}

.print-page a {
  float: right;
}

.print-page a:before {
  width: 20px;
  height: 23px;
  background-position: -5px -331px;
  left: -29px;
}

.view-all {
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  border-width: 2px;
  margin-bottom: 15px;
}

.icon-track {
  position: relative;
  margin-left: 36px;
}

.icon-track:before {
  content: '';
  background: url(../images/item-grpahics.png) no-repeat -6px -120px;
  width: 24px;
  height: 27px;
  position: absolute;
  left: -34px;
}

.manager-i {
  position: relative;
  font-size: 11px;
  font-style: italic;
  color: #2e2e2e;
  display: block;
  max-width: 250px;
  margin: 20px auto;
  line-height: 31px;
  padding-left: 10px;
}

.manager-i:before {
  width: 27px;
  height: 27px;
  background-position: -5px -159px;
  left: -27px;
}

.item-shrtcts label {
  display: block;
  cursor: pointer;
}

.item-shrtcts .jcf-select {
  min-width: 215px;
}

.icon-size:before,
.icon-material:before,
.icon-color:before {
  content: '';
  position: absolute;
  background-image: url(../images/item-grpahics.png);
  z-index: 2;
}

.icon-size:before {
  width: 27px;
  height: 27px;
  background-position: -5px -400px;
  margin: 6px;
}

.icon-color:before {
  width: 26px;
  height: 24px;
  background-position: -5px -88px;
  margin: 8px;
}

.icon-material:before {
  width: 29px;
  height: 26px;
  background-position: -5px -364px;
  margin: 8px 0 0 4px;
}

.photo-decor {
  position: relative;
  padding: 3px 3px;
  width: 274px;
  height: 274px;
  margin: -44px 0px 28px -30px;
  /* background-color: #fefefe;
      border: 1px solid #f64a2c;
    -webkit-transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95); */
  border-top: 1px solid #ff7f00;
  border-bottom: 1px solid #f54b30;
  box-sizing: content-box;
}

.photo-decor:before,
.photo-decor:after {
  content: "";
  position: absolute;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7f00), to(#f54b30));
  background-image: -webkit-linear-gradient(#ff7f00, #f54b30);
  background-image: -moz-linear-gradient(#ff7f00, #f54b30);
  background-image: -o-linear-gradient(#ff7f00, #f54b30);
  background-image: linear-gradient(#ff7f00, #f54b30);
  top: -1px;
  bottom: -1px;
  width: 1px;
}

.photo-decor:before {
  left: -1px;
}

.photo-decor:after {
  right: -1px;
}

.photo-decor img {
  width: 100%;
  border-image: linear-gradient(#ff7f00, #f54b30) 34% / 1px stretch;
  border-width: 1px;
  border-style: solid;
  position: relative;
  z-index: 1;
}

.photo-decor a:first-child {
  z-index: 2;
}

.photo-decor .shadow {
  position: absolute;
  width: 275px;
  height: 40px;
  background: url(../images/item-grpahics-shadow.png);
  bottom: -20px;
  z-index: 0;
  left: -1px;
}

a[data-fancybox="gallery"] {
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 274px;
}

.miniatures {
  margin-left: -50px;
}

.miniature {
  display: inline-block;
  border: 1px solid #dbdbdb;
  margin-right: 15px;
}

.miniature:last-child {
  margin-right: 0;
}

.miniature.active {
  border: 1px solid #a1a1a1;
}

#popularProps:after,
#relatedGoods:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 210px;
  background: #bdbdbd;
  top: 26px;
  right: 15px;
  box-shadow: 1px 0 0 #fff;
}

#relatedGoods p {
  margin-top: 15px;
  margin-bottom: 22px;
  text-align: center;
}

#deliveryDetails p {
  margin-top: 15px;
  margin-bottom: 22px;
  font-style: italic;
  font-size: 13px;
  line-height: 24px;
}

#relatedGoods p a {
  margin: 0 20px;
  position: relative;
}

#relatedGoods a:after {
  content: '';
  position: absolute;
  width: 21px;
  height: 21px;
  top: 50%;
  margin-top: -10px;
  background: url(../images/item-grpahics.png) -9px -196px;
  right: -30px;
}

#relatedGoods a:last-child:after {
  display: none;
}

#relatedGoods img {
  width: 70px;
  border: 1px solid #dcdad6;
}

#relatedGoods label {
  font-weight: 400;
  font-size: 12px;
  opacity: .6;
  margin-bottom: 12px;
}

#relatedGoods label.jcf-label-active {
  opacity: 1;
}

.productBoxes {
  background: #fff;
  padding: 30px;
}

.productBoxes .heading {
  font-size: 16px;
  background: none;
  color: #2e2e2e;
}

.product {
  text-align: center;
  margin: 0 0 25px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #c1c1c1;
}

.product:last-child {
  border: none;
}

.product a {
  display: block;
  font-size: 12px;
  border:0!important;
}

.ie11 .product a.in-text:hover span {
  text-decoration: underline;
}

.product img {
  border: 1px solid #c1c1c1;
  margin-bottom: 15px;
}

.product span {
  display: block;
}

#itemTabContent {
  position: relative;
}

#itemTabContent .tab-pane {
  background: #fffffe;
  border-top-right-radius: 10px;
  padding: 32px 20px;
  display: block;
  position: absolute;
  visibility: visible;
  opacity: 1;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: top .15s linear;
  -o-transition: top .15s linear;
  transition: top .15s linear;
}

#itemTabContent #description {
  z-index: 6;
}

#itemTabContent #spec {
  z-index: 5;
  top: -6px;
  background: #f0efe9;
  right: 10px;
}

#itemTabContent #delivery_payments {
  z-index: 4;
  top: -13px;
  background: #e9e8e2;
  right: 20px;
}

#itemTabContent #video {
  z-index: 3;
  top: -20px;
  background: #dddad6;
  right: 30px;
}

#itemTabContent #files {
  z-index: 2;
  top: -27px;
  background: #cbcac6;
  right: 40px;
}

#itemTabContent #reviews {
  z-index: 1;
  top: -32px;
  background: #aeada9;
  right: 50px;
}

#itemTab li {
  padding-left: 11px;
  /* overflow: hidden; */
  margin: 0;
}

#itemTab li a {
  color: #2e2e2e;
  border-radius: 10px 10px 0 0;
  text-decoration: none;
  opacity: .9;
  /* transition: top .3s ease;
-moz-transition: top .3s ease;
-webkit-transition: top .3s ease; - twoo buggy with tab-pane divs sliding*/
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
}

#itemTab li:first-child {
  padding-left: 0;
}

/*
#itemTab li a:not(.active) {
  position: relative;
} */
#itemTab li:first-child:before {
  /* content: '';
  position: absolute;
  width: 12px;
  height: 40px;
  background-color: #f3f3f3;
  left: 0px;
  z-index: 7; */
}

#itemTab li:not(.active) a span {
  /* in progress */
  /* content: '';
  position: absolute;
  width: 96px;
  height: 87px;
  left: -39px;
  background-image: url(../images/item-grpahics-shadow-intab2.png);
    background-repeat: no-repeat; */
}

#itemTabDescription,
#itemTab .nav-item a.active {
  background: #fffffe;
  z-index: 6;
  opacity: 1;
}

li:not(.active) #itemTabDescription {
  background: #f7f7f1;
}

#itemTabSpec {
  background-color: #f0efe9;
  z-index: 5;
  top: -2px;
}

#itemTabDeliveryPayments {
  background-color: #e9e8e2;
  z-index: 4;
  top: -5px;
}

#itemTabVideo {
  background-color: #dcdad6;
  z-index: 3;
  top: -8px;
}

#itemTabFiles {
  background-color: #cbcac6;
  z-index: 2;
  top: -15px;
}

#itemTabReviews {
  background-color: #b3b2ae;
  z-index: 1;
  top: -21px;
  opacity: 1 !important;
}

#itemTabReviews .opacityOnly {
  opacity: 0.8;
}

.review-item {
  font-size: 12px;
  margin: 0;
}

.review-item:nth-child(odd) {
  background-color: #fdf5f7;
}

.review-item i {
  background: none;
  color: #000;
  font-weight: 700;
  display: block;
  margin: 15px 0 0;
}

.review-item p {
  margin: 10px 0 20px;
}

.icon-review {
  width: 40px;
  height: 40px;
  background-image: url(../images/item-grpahics-emoticons.png);
  background-position-x: -1px;
  margin: 16px auto 6px;
}

.emoticon {
  text-align: center;
}

.icon-review.excellent {
  background-position-y: -85px;
}

.icon-review.good {
  background-position-y: -127px;
}

.icon-review.normal {
  background-position-y: -169px;
}

.icon-review.bad {
  background-position-y: -43px;
}

.icon-review.awful {
  background-position-y: -1px;
}

.file-type {
  font-size: 12px;
  padding: 16px 10px;
  color: #2e2e2e;
  text-align: center;
}

.file-type:hover {
  background: rgba(244, 76, 117, 0.09);
}

.file-type>span {
  display: block;
  background-image: url(../images/item-grpahics-file-types.png);
  margin: 0 auto 16px;
}

.file-type i {
  font-style: normal;
}

.icon-pdf {
  width: 57px;
  height: 79px;
  background-position: -1px -83px;
}

.icon-img {
  width: 58px;
  height: 79px;
  background-position: -1px -1px;
}

.icon-video {
  width: 76px;
  height: 74px;
  background-position: -1px -164px;
}

#spec table {
  width: 100%;
  margin-right: 50px;
}

#spec table tr:nth-child(even) {
  background-color: #faf7f1;
}

#spec table td:first-child {
  font-weight: bold;
  text-align: right;
  padding: 5px 40px 5px 15px;
  width: 1%;
  white-space: nowrap;
}

.delivery-cost {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 5px 100px 5px 31px;
  text-align: center;
  font-size: 10px;
  line-height: normal;
  background: #fdda01;
  color: #46464e;
  padding-right: 100px;
  text-align: left;
}

.delivery-cost:hover {
  color: #46464e;
}

.delivery-cost:before {
  content: '';
  position: absolute;
  width: 121px;
  height: 30px;
  top: -23px;
  left: 0;
  background: #fffffe;
  transform-origin: 18% 0;
  transform: rotate(105deg);
  z-index: 0;
}

.delivery-cost i, .delivery-cost b {
  font-size: 17px;
  text-transform: uppercase;
}

.delivery-cost i {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: italic;
}

.delivery-cost span {
  display: block;
}

.slogan {
  font-weight: 700;
  font-style: italic;
  font-size: 19px;
  padding-left: 5px;
}

.slogan {
  width: 28%;
  margin-top: 35px;
}

.slogan span {
  text-transform: uppercase;
}

.slogan i {
  font-weight: 300;
  font-size: 23px;
  color: #f1d352;
}

.delivery-text {
  width: 70%;
  padding-left: 40px;
  margin-top: 32px;
}

.arrow-icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -35px;
}

.tab-pane {
  line-height: 26px;
}

.tabs-container {
      margin: 45px 60px 0 -27px;
}
