@import "../font-awesome/css/font-awesome.css";

.item {
   background: #f3f3f3;
   padding-bottom: 80px;
}
hgroup h1 {
    display: inline-block;
    font: 700 43px 'IBM Plex Serif', serif;
    margin-right: 15px;
}
.breadcumbs {
    margin-top: 26px;
}
.breadcumbs a {
  text-decoration: none;
  color: #2e2e2e;
  position: relative;
  padding-right: 50px;
}

.breadcumbs a::after {
  content: '';
  position: absolute;
  right: 12px;
  width: 20px;
  height: 9px;
  background: url(../images/cat-icons.png) -3px -168px no-repeat;
  top: 50%;
  margin-top: -5px;
}
.item-id {
  font-weight: 700;
}

.item-id span {
  color: #fae41f;
  display: inline-block;
  padding: 0 5px;
  position: relative;
  background: url(../images/item-grpahics-2.png);
  height: 25px;
  line-height: 25px;
  margin-left: 15px;
}
.item-id span:after,
.item-id span:before {
  content: '';
  position: absolute;
  background-image: url(../images/item-grpahics.png);
}

.item-id span:before {
  left: -8px;
  width: 8px;
  height: 25px;
  background-position: -5px -231px;
}

.write-review a:before,
.print-page a:before,
.manager-i:before {
  content: '';
  position: absolute;
  background: url(../images/item-grpahics.png);
}

.item-id span:after {
  right: -8px;
  width: 8px;
  height: 25px;
  background-position: -5px -266px;
}

hgroup {
  border-bottom: 3px solid;
    margin-bottom: 55px;
}

.item-details {
  margin: -39px -35px 30px;
}

.btn-dashed {
  color:#2b2a2f;
}

.btn-dashed:hover {
  text-decoration: none;
   border-color: rgba(0,0,0,0);
}

.btn-dashed {
  border-bottom: 1px dashed;
  position: relative;
  -webkit-transition: border-color .2s linear; /* Saf3.2+, Chrome */
    -moz-transition: border-color .2s linear; /* FF3.7+ */
      -o-transition: border-color .2s linear; /* Opera 10.5 */
         transition: border-color .2s linear;
}

.write-review a:before {
  width: 20px;
  height: 20px;
  background-position: -5px -301px;
  left: -25px;
}

.print-page {
  padding-right: 0;
}

.print-page a {
  float:right;
}
.print-page a:before {
  width: 20px;
  height: 23px;
  background-position: -5px -331px;
      left: -29px;
}

.view-all {
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  border-width: 2px;
  margin-bottom: 15px;
}

.order {
  text-transform: uppercase;
  display: block;
  max-width: 250px;
      margin: 0 auto;
}

.manager-i {
  position: relative;
font-size: 11px;
font-style: italic;
color: #2e2e2e;
display: block;
max-width: 250px;
margin: 20px auto;
line-height: 31px;
padding-left: 10px;
}

.manager-i:before {
  width: 27px;
height: 27px;
background-position: -5px -159px;
left: -27px;
}

.item-shrtcts label {
  display: block;
}

.item-shrtcts .jcf-select {
  min-width: 215px;
}
.item-shrtcts .jcf-select select {
  /* left:40px; */
}
