@import "font-awesome/css/font-awesome.css";

.breadcumbs {
  margin-top: 26px;
}

.breadcumbs a {
  text-decoration: none;
  color: #2e2e2e;
  position: relative;
  padding-right: 50px;
}

.breadcumbs a::after {
  content: '';
  position: absolute;
  right: 12px;
  width: 20px;
  height: 9px;
  background: url(images/cat-icons.png) -3px -168px no-repeat;
  top: 50%;
  margin-top: -5px;
}

.catalog {
  background: #f3f3f3;
  padding-bottom: 80px;
}

.catalog .row {
  display: flex;
  justify-content: space-between;
}

.catalog .row:first-child {
  margin-top: -50px;
}

hgroup {
  margin-bottom: 50px;
}

hgroup span {
  font: 400 13px 'IBM Plex Serif', serif;
}

hgroup h1 {
  display: inline-block;
  font: 700 43px 'IBM Plex Serif', serif;
  margin-right: 15px;
}

.ct-item {
  background-color: #fefefe;
  border: 1px solid #f64a2c;
  padding: 10px 15px;
  width: 210px;
  height: 289px;
  position: relative;
  float: left;
  margin: 25px 25px 40px 0;
  box-sizing: border-box;
  -webkit-transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.ct-item:before {
  background: none;
  border: 1px solid #f64a2c;
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  pointer-events: none;
}

.ct-item img {
  width: 100%;
  display: block;
  margin: 0 auto 15px;
}

.rating.magenta i {
  color: #ee2455;
  font-size: 12px;
}

.rating.magenta span {
  font-size: 12px;
}

.rating.magenta .order-num {
  font-style: italic;
  display: inline-block;
  margin-left: 15px;
}

.product-short-dsc .rating {
  padding-top: 7px;
}

.product-short-dsc strong {
  font-size: 16px;
  margin: 10px 0 20px;
  display: inline-block;
}

.ct-item-title {
  font: 700 14px 'Montserrat Alternates', sans-serif;
  text-decoration: none;
  color: #2e2e2e;
}

.ct-item-title:hover,
.breadcumbs a:hover {
  text-decoration: none;
  color: #ee2455;
}

.price_request,
.price_request:hover,
.order_request:hover {
  text-decoration: none;
  background: #e1e0e0;
  color: #2e2e2e;
}

.price_request {
  position: absolute;
  right: 27px;
  bottom: -20px;
  font: 400 11px/30px 'Montserrat Alternates', sans-serif;
  color: #2e2e2e;
  background: #fefefe;
  border-radius: 20px;
  border: 4px solid #f3f3f3;
  padding: 0 18px;
}

.ct-item .order_request {
  position: absolute;
  bottom: -20px;
  right: -8px;
  background: #fefefe;
  width: 38px;
  height: 38px;
  border-radius: 30px;
  border: 4px solid #f3f3f3;
  text-align: center;
  line-height: 36px;
}

.order_request span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(images/cat-icons.png) -3px -72px;
}

.additional {
  background: #f3f3f3;
}

.related,
.similar {
  background: #fff;
  width: 48%;
}

.catalog-articles {
  background: #fff;
  margin-top: 55px;
  margin-bottom: 45px;
  padding-bottom: 30px;

}

.related h2,
.similar h2 {
  margin: 0;
  padding: 20px 36px 20px 32px;
  font-size: 18px;
  color: #fff;
}

.related h2 {
  background: rgba(238, 36, 85, 1);
  background: -moz-linear-gradient(left, rgba(238, 36, 85, 1) 0%, rgba(254, 121, 4, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238, 36, 85, 1)), color-stop(100%, rgba(254, 121, 4, 1)));
  background: -webkit-linear-gradient(left, rgba(238, 36, 85, 1) 0%, rgba(254, 121, 4, 1) 100%);
  background: -o-linear-gradient(left, rgba(238, 36, 85, 1) 0%, rgba(254, 121, 4, 1) 100%);
  background: -ms-linear-gradient(left, rgba(238, 36, 85, 1) 0%, rgba(254, 121, 4, 1) 100%);
  background: linear-gradient(to right, rgba(238, 36, 85, 1) 0%, rgba(254, 121, 4, 1) 100%);
  text-shadow: 0px 1px 0px #ef2851, 1px 2px 0px #fbb7a1;
}

.similar h2 {
  background: rgba(255, 132, 0, 1);
  background: -moz-linear-gradient(left, rgba(255, 132, 0, 1) 0%, rgba(250, 221, 0, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 132, 0, 1)), color-stop(100%, rgba(250, 221, 0, 1)));
  background: -webkit-linear-gradient(left, rgba(255, 132, 0, 1) 0%, rgba(250, 221, 0, 1) 100%);
  background: -o-linear-gradient(left, rgba(255, 132, 0, 1) 0%, rgba(250, 221, 0, 1) 100%);
  background: -ms-linear-gradient(left, rgba(255, 132, 0, 1) 0%, rgba(250, 221, 0, 1) 100%);
  background: linear-gradient(to right, rgba(255, 132, 0, 1) 0%, rgba(250, 221, 0, 1) 100%);
  text-shadow: 0px 1px 0px #fe9200, 1px 2px 0px #ffea8f;
}

.related h2 .siema-nav,
.similar h2 .siema-nav {
  float: right;
}

.related h2 .siema-nav span,
.similar h2 .siema-nav span {
  color: transparent;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  margin: 0 1px;
}

.related .siema .item,
.similar .siema .item {
  display: none;
}

.related h2 .siema-nav span:hover,
.similar h2 .siema-nav span:hover {
  background: #000;
}

.related h2 .siema-nav span.active,
.similar h2 .siema-nav span.active {
  background: #ee2455;
}

.related .siema .item,
.similar .siema .item {
  display: block;
  float: left;
  text-align: center;
  padding: 26px 15px 38px;
  overflow: hidden;
  text-decoration: none;
  color: #ee2455;
  font: 500 12px 'Montserrat Alternates', sans-serif;
  width: 33.3333%;
}

.related .siema .item img,
.similar .siema .item img {
  margin-bottom: 15px;
}

.related .siema .item:hover,
.similar .siema .item:hover {
  background: #fafafa;
}

.catalog-articles h2 {
  font-size: 16px;
  margin: 25px 0 45px 20px;
}

.catalog-articles a {
  display: block;
  font-weight: 700;
  font-size: 14px;
  position: relative;
  z-index: 0;
  margin: 0 0 13px 0px;
  color: #2e2e2e;
}

.catalog-articles a::before {
  content: '';
  display: block;
  top: -15px;
  left: 17px;
  right: 0;
  bottom: -8px;
  background: #fcee7f;
  position: absolute;
  z-index: -1;
}

.what-else {
  background: #f3f3f3;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 70px;
}

.product-short-dsc strong {

}

.product-short-dsc img.large {
  padding: 10px;
  margin-bottom: 15px;
  background: url(images/img-shadow.png) no-repeat 5px 6px;
}

.product-short-dsc img.miniature {
  border: 1px solid #ebebeb;
  margin-right: 15px;
}
.product-short-dsc img.miniature:last-child {
  margin-right: 0;
}
.product-short-dsc img.miniature.active {
  border: 1px solid #a1a1a1;
}

.short-description .field-name {
  font-weight: 700;
      padding-left: 10px;
      padding-right: 20px;
}

.short-description .icon span {
  display: block;
  margin: 5px auto;
}

.product-short-dsc .price_request,
.product-short-dsc .order_request {
  position: relative;
  display: block;
  right: auto;
  bottom: auto;
  color: #2e2e2e;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  border-radius: 30px;
}

.product-short-dsc .price_request {
  background: #f3f3f3;
}
.product-short-dsc .price_request:hover,
.more-info:hover {
  border-color: #e1e0e0;
    background: #e1e0e0;
}
.product-short-dsc .order_request {
border: 4px solid #f3f3f3;
padding: 0;
}
.product-short-dsc .order_request span {
  margin-right: 5px;
  margin-bottom: -3px;
}

.product-short-dsc .order_request:hover {
      background: #f3f3f3;
}

.more-info {
  display: block;
  height: 38px;
    background: #f3f3f3;
    border-radius: 20px;
    border: 4px solid #f3f3f3;
    color: #2e2e2e;
    font: 500 12px/16px 'Montserrat Alternates', sans-serif;
}

.btns-col {
  padding: 15px 20px 0 20px;
  text-align: center;
}

.icon .color  {
  width: 18px;
      height: 18px;
      background-image: url(images/cat-icons.png);
      background-position: -3px -3px;
}

.icon .material  {
  width: 16px;
height: 16px;
background-image: url(images/cat-icons.png);
background-position: -3px -50px;
}

.icon .surface  {
  width: 20px;
height: 18px;
background-image: url(images/cat-icons.png);
background-position: -4px -116px;
}

.icon .w-l  {
  width: 19px;
    height: 19px;
    background-image: url(images/cat-icons.png);
    background-position: -3px -141px;
}

.icon .diam  {
  width: 19px;
  height: 19px;
  background-image: url(images/cat-icons.png);  background-position: -3px -25px;
}

.icon .print-type  {
  width: 19px;
  height: 17px;
  background-image: url(images/cat-icons.png);  background-position: -3px -94px;
}

.product-short-dsc {
  position: relative;
}


.product-short-dsc .close {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  z-index: 1;
}
.product-short-dsc .close:hover {
  opacity: 1;
}
.product-short-dsc .close:before, .product-short-dsc .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #ee2455;
}
.product-short-dsc .close:before {
  transform: rotate(45deg);
}
.product-short-dsc .close:after {
  transform: rotate(-45deg);
}

.pl35 {
  padding-left: 35px
}
