@import 'css/slidedown-city-selection.css';

/* ТОЛЬКО ЦИФРЫ В ФАЙЛАХ - ONLY DIGITS IN FONT FILES*/
@font-face {
  font-family: 'heading_pro_ultracompresseXBd';
  src: url('fonts/heading_pro_ultracompressed_extrabold-digits.woff2') format('woff2'),
    url('fonts/heading_pro_ultracompressed_extrabold-digits.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  color: #2b2a2f;
}

h2 {
  font-size: 26px;
  text-shadow: 0px 1px 0px #fff, 1px 2px 0px #b7b7b7;
  text-transform: uppercase;
  margin-top: 45px;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 500;
}

a {
  color: #66cef6;
  text-decoration: none;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

a:focus,
a:active {
  outline: none;
}

#wrapper {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.top {
  background: #e2e2e2;
}

.top-control, .top-support.details {
  font: 700 normal 12px 'Montserrat', sans-serif;
}

.top-support {
  margin: 0;
  padding: 10px 0 5px;
  float: right;
}

.top-support li,
.top-control a,
.top-control label {
  float: left;
  list-style: none;
  font-size: 13px;
  margin-right: 40px;
}

.top-control label {
  margin-bottom: 0;
}

.top-control a {}

.top-support li a {
  color: #000;
  display: inline-block;
}

.top-support li a span {
  /* background-image: linear-gradient(120deg, #ee2455 0%, #ff7f00 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 99%; */
  background-image: linear-gradient(120deg, #ee2455 0%, #ff7f00 100%);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
}

.top-support li a span:hover {
  background-size: 100% 1px, auto;
}

.top-support li a i {
  background: url('images/css_sprites.png');
}

.expandSearch {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.expandSearch i {
  position: absolute;
  top: 50%;
  left: 10px;
  padding: 8px 4px 8px 8px;
  color: #777;
  cursor: pointer;
  user-select: none;
  transition: 0.24s;
  width: 14px;
  height: 14px;
  background: url('images/top-menu-icon-search.svg') no-repeat;
  margin-top: -7px;
}

.expandSearch i:hover {
  color: #0bf;
}

.expandSearch input {
  border: none;
  background: transparent;
  font: 14px/1.5 sans-serif;
  padding-left: 26px;
  background: #e2e2e2;
  transition: 0.24s;
  width: 76px;
  padding: 4px 0px 4px 34px;
  cursor: pointer;
  font: 700 normal 13px/18px Montserrat;
}

.expandSearch input:focus {
  border-color: #aaa;
  outline: none;
  width: 200px;
  padding: 4px 12px 4px 34px;
  border-color: #0bf;
  background: #fff;
}

.expandSearch input:focus+i {
  /*padding: 8px 4px 8px 8px ;*/
  color: #ddd;
  pointer-events: none;
}

.top-control a i.fa-search {
  width: 14px;
  height: 14px;
  float: left;
  margin-right: 8px;
  background: url('images/top-menu-icon-search.svg');
}

.top-control a i.fa-envelope {
  width: 20px;
  height: 13px;
  display: inline-block;
  margin-right: 8px;
  background: url('images/top-menu-icon-envelope.svg') no-repeat;
  margin-bottom: -2px;
}

.top-support li a i.fa-delivery {
  width: 16px;
  height: 16px;
  background-position: -10px -10px;
}

.top-support li a i.fa-money {
  width: 17px;
  height: 20px;
  background-position: -10px -43px;
}

.top-support li a i.fa-phone {
  width: 16px;
  height: 16px;
  background-position: -46px -10px;
}

.top-support li i {
  font-size: 20px;
  color: #2a2955;
  margin-right: 10px;
}

.top-support li i, .top-support li span {
  float: left;
}

.top-control {
  float: right;
  padding: 5px 0;
}

.top-control a {
  color: #777c80;
  text-decoration: none;
  line-height: 26px;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.top-control a:hover {
  color: #000;
}

.top-control a:first-child {
  margin-right: 45px;
}

#markerovka-nav {
  padding: 20px 0 0;
}


#markerovka-nav .navbar-default {
  border: none;
  margin: 0;
  border-radius: 0;
  min-height: 0;
  background: none;
}

#markerovka-nav .navbar-brand {
  padding: 0;
}

.secondary, .secondary .city {
  color: #777c80;
  font-weight: 400;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #777c80;
  float: right;
  margin-top: 6px;
}

.navbar-nav .city span {
  display: inline-block;
}

.secondary li {
  min-height: 110px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  width: 16.66666667%;
}

.secondary a:hover {
  color: #777c80;
}

.bh {
  margin-left: 320px;
  background-image: url(images/top-icon-clock.svg);
  padding-left: 70px;
}

.delivery {
  padding-left: 105px;
  background-image: url(images/top-icon-truck.svg);
}

.btn-image:before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: text-top;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
}

.call-back {
  width: 190px;
  margin-left: 40px;
}

.call-back:before {
  background-image: url(images/call-back.svg);
}

.navbar-nav.secondary>li {
  font-size: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.min-marg {
  margin-left: -35px;
  margin-right: -35px;
}

.dropdown-menu {
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 13px;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

.dropdown-menu>li {
  margin-bottom: 10px;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -3px;
}

.dropdown-menu .sub-menu.show {
  visibility: visible;
}

.dropdown:not(.click-activation):hover .dropdown-menu {
  display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
  margin-top: 0;
}

.navbar-nav {
  float: none;
  margin: 0;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}

.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}

#cat-nav {
  background: #fff;
  border-bottom: 3px solid #ee2455;
}

#cat-nav ul {
  margin: 0;
  padding: 0;
}

#cat-nav ul li {
  list-style: none;
  float: left;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  position: initial;
}

#cat-nav-mega>ul>li>a {
  color: #ee2455;
  font-size: 17px;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  padding: 15px 17px;
  display: block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

#cat-nav-mega>ul>li>a:hover {
  background: #fcf0ef;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

#cat-nav ul li:last-child {
  border-right: none;
}

.product-name {
  color: #2b2a2f;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  line-height: 20px;
  padding: 0 15px;
  text-transform: uppercase;
}

.product-name a {
  color: #2b2a2f;
}

.product-price {
  color: #66cef6;
  font-size: 18px;
  margin-top: 5px;
}

.star-3 {
  margin: 0 5px;
}

.product-price span {
  text-decoration: line-through;
  color: #878788;
}

.prdct-grid {
  margin-bottom: 40px;
  min-height: 375px;
}

.product-listing.grid .prdct-grid {
  margin-bottom: 40px;
  min-height: 403px;
}

.homepage-3 #cat-nav ul li .to-left a i {
  margin: 0;
}

.homepage-3 .prdct-grid {
  min-height: 0;
}

#content {
  background: rgba(250, 228, 0, 1);
  background: url(images/dot-pattern.png), radial-gradient(circle at 34.71% 5.02%, rgb(251, 241, 112), transparent 25%) repeat scroll 0% 0%, radial-gradient(circle at 29.66% 99.92%, rgb(253, 218, 0), transparent 100%) repeat scroll 0% 0%, rgba(0, 0, 0, 0) radial-gradient(circle at 50% 50%, rgb(253, 218, 0), rgb(253, 218, 0) 100%) repeat scroll 0% 0%;
}

.articles {
  position: relative;
  background: #e4e4e4 url(images/articles-bg-2.jpg);
  margin: 70px auto 0;
}

.articles::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -24px;
  height: 28px;
  background: url(images/articles-bg-1.png);
  background-repeat: repeat-x;
}

.articles::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -24px;
  height: 28px;
  background: url(images/articles-bg-1.png);
  background-repeat: repeat-x;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#a_slider {
  margin-top: -45px;
  padding: 0 20px;
}

#a_slider,
#saeSiemaSlider {
  position: relative;
}

#a_slider button, #saeSiemaSlider button {
  background: url(images/articles-arrows.png) no-repeat;
  color: transparent;
  margin: 0;
  opacity: 1;
  position: absolute;
  width: 23px;
  height: 41px;
  padding: 0;
  border: none;
}

#a_slider .article {
  position: relative;
  width: 230px;
  margin-left: 58px;
  float: left;
  transition: all .2s ease-in;
}

#a_slider .buttons,
#saeSiemaSlider .buttons {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -21px;
}
#a_slider .buttons:active,
#saeSiemaSlider .buttons:active {
outline:none;
}
#a_slider .prev {
  background-position: 0 0;
  left: 0;
}

#a_slider .next {
  background-position: 0 -41px;
  right: 0;
}

#a_slider .prev:hover {
  background-position: 0 -82px;
}

#a_slider .next:hover {
  background-position: 0 -123px;
}

#saeSiemaSlider .prev {
  background-position: 0 0;
  left: -50px;
}

#saeSiemaSlider .next {
  background-position: 0 -41px;
  right: -50px;
}

#saeSiemaSlider .prev:hover {
  background-position: 0 -82px;
}

#saeSiemaSlider .next:hover {
  background-position: 0 -123px;
}

#saeSiemaSlider .application {
  position: relative;
  overflow: hidden;
}

#saeSiemaSlider img {
  width: 100%;
}

#saeSiemaSlider .application p {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  margin: 0;
  background: rgba(255, 255, 255, 0.8);
}

.latest {
  background: #f3f3f3;
  padding-top: 28px;
}

.orange .text {
  background: rgba(228, 142, 43, 1);
  background: -moz-linear-gradient(left, rgba(228, 142, 43, 1) 0%, rgba(245, 169, 55, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(228, 142, 43, 1)), color-stop(100%, rgba(245, 169, 55, 1)));
  background: -webkit-linear-gradient(left, rgba(228, 142, 43, 1) 0%, rgba(245, 169, 55, 1) 100%);
  background: -o-linear-gradient(left, rgba(228, 142, 43, 1) 0%, rgba(245, 169, 55, 1) 100%);
  background: -ms-linear-gradient(left, rgba(228, 142, 43, 1) 0%, rgba(245, 169, 55, 1) 100%);
  background: linear-gradient(to right, rgba(228, 142, 43, 1) 0%, rgba(245, 169, 55, 1) 100%);
}

.red .text {
  background: rgba(172, 8, 11, 1);
  background: -moz-linear-gradient(left, rgba(172, 8, 11, 1) 0%, rgba(246, 99, 94, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(172, 8, 11, 1)), color-stop(100%, rgba(246, 99, 94, 1)));
  background: -webkit-linear-gradient(left, rgba(172, 8, 11, 1) 0%, rgba(246, 99, 94, 1) 100%);
  background: -o-linear-gradient(left, rgba(172, 8, 11, 1) 0%, rgba(246, 99, 94, 1) 100%);
  background: -ms-linear-gradient(left, rgba(172, 8, 11, 1) 0%, rgba(246, 99, 94, 1) 100%);
  background: linear-gradient(to right, rgba(172, 8, 11, 1) 0%, rgba(246, 99, 94, 1) 100%);
}

.violet .text {
  background: rgba(94, 34, 95, 1);
  background: -moz-linear-gradient(left, rgba(94, 34, 95, 1) 0%, rgba(143, 106, 140, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(94, 34, 95, 1)), color-stop(100%, rgba(143, 106, 140, 1)));
  background: -webkit-linear-gradient(left, rgba(94, 34, 95, 1) 0%, rgba(143, 106, 140, 1) 100%);
  background: -o-linear-gradient(left, rgba(94, 34, 95, 1) 0%, rgba(143, 106, 140, 1) 100%);
  background: -ms-linear-gradient(left, rgba(94, 34, 95, 1) 0%, rgba(143, 106, 140, 1) 100%);
  background: linear-gradient(to right, rgba(94, 34, 95, 1) 0%, rgba(143, 106, 140, 1) 100%);
}

.blue .text {
  background: rgba(44, 172, 232, 1);
  background: -moz-linear-gradient(-45deg, rgba(44, 172, 232, 1) 0%, rgba(44, 172, 232, 1) 1%, rgba(138, 210, 252, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(44, 172, 232, 1)), color-stop(1%, rgba(44, 172, 232, 1)), color-stop(100%, rgba(138, 210, 252, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(44, 172, 232, 1) 0%, rgba(44, 172, 232, 1) 1%, rgba(138, 210, 252, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(44, 172, 232, 1) 0%, rgba(44, 172, 232, 1) 1%, rgba(138, 210, 252, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(44, 172, 232, 1) 0%, rgba(44, 172, 232, 1) 1%, rgba(138, 210, 252, 1) 100%);
  background: linear-gradient(135deg, rgba(44, 172, 232, 1) 0%, rgba(44, 172, 232, 1) 1%, rgba(138, 210, 252, 1) 100%);
}

.circle.orange {
  color: #ed9b31;
  background: rgba(228, 142, 43, 1);
  background: -moz-linear-gradient(left, rgba(228, 142, 43, 1) 0%, rgba(245, 169, 55, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(228, 142, 43, 1)), color-stop(100%, rgba(245, 169, 55, 1)));
  background: -webkit-linear-gradient(left, rgba(228, 142, 43, 1) 0%, rgba(245, 169, 55, 1) 100%);
  background: -o-linear-gradient(left, rgba(228, 142, 43, 1) 0%, rgba(245, 169, 55, 1) 100%);
  background: -ms-linear-gradient(left, rgba(228, 142, 43, 1) 0%, rgba(245, 169, 55, 1) 100%);
  background: linear-gradient(to right, rgba(228, 142, 43, 1) 0%, rgba(245, 169, 55, 1) 100%);
}

.circle.red {
  color: #b9191a;
  background: rgba(172, 8, 11, 1);
  background: -moz-linear-gradient(left, rgba(172, 8, 11, 1) 0%, rgba(246, 99, 94, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(172, 8, 11, 1)), color-stop(100%, rgba(246, 99, 94, 1)));
  background: -webkit-linear-gradient(left, rgba(172, 8, 11, 1) 0%, rgba(246, 99, 94, 1) 100%);
  background: -o-linear-gradient(left, rgba(172, 8, 11, 1) 0%, rgba(246, 99, 94, 1) 100%);
  background: -ms-linear-gradient(left, rgba(172, 8, 11, 1) 0%, rgba(246, 99, 94, 1) 100%);
  background: linear-gradient(to right, rgba(172, 8, 11, 1) 0%, rgba(246, 99, 94, 1) 100%);
}

.circle.green {
  color: #69a810;
  background: rgba(90, 150, 7, 1);
  background: -moz-linear-gradient(left, rgba(90, 150, 7, 1) 0%, rgba(124, 192, 29, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90, 150, 7, 1)), color-stop(100%, rgba(124, 192, 29, 1)));
  background: -webkit-linear-gradient(left, rgba(90, 150, 7, 1) 0%, rgba(124, 192, 29, 1) 100%);
  background: -o-linear-gradient(left, rgba(90, 150, 7, 1) 0%, rgba(124, 192, 29, 1) 100%);
  background: -ms-linear-gradient(left, rgba(90, 150, 7, 1) 0%, rgba(124, 192, 29, 1) 100%);
  background: linear-gradient(to right, rgba(90, 150, 7, 1) 0%, rgba(124, 192, 29, 1) 100%);
}

.circle.violet {
  color: #602561;
  background: rgba(94, 34, 95, 1);
  background: -moz-linear-gradient(left, rgba(94, 34, 95, 1) 0%, rgba(143, 106, 140, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(94, 34, 95, 1)), color-stop(100%, rgba(143, 106, 140, 1)));
  background: -webkit-linear-gradient(left, rgba(94, 34, 95, 1) 0%, rgba(143, 106, 140, 1) 100%);
  background: -o-linear-gradient(left, rgba(94, 34, 95, 1) 0%, rgba(143, 106, 140, 1) 100%);
  background: -ms-linear-gradient(left, rgba(94, 34, 95, 1) 0%, rgba(143, 106, 140, 1) 100%);
  background: linear-gradient(to right, rgba(94, 34, 95, 1) 0%, rgba(143, 106, 140, 1) 100%);
}

.circle.blue {
  color: #43b6ed;
  background: rgba(44, 172, 232, 1);
  background: -moz-linear-gradient(-45deg, rgba(44, 172, 232, 1) 0%, rgba(44, 172, 232, 1) 1%, rgba(138, 210, 252, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(44, 172, 232, 1)), color-stop(1%, rgba(44, 172, 232, 1)), color-stop(100%, rgba(138, 210, 252, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(44, 172, 232, 1) 0%, rgba(44, 172, 232, 1) 1%, rgba(138, 210, 252, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(44, 172, 232, 1) 0%, rgba(44, 172, 232, 1) 1%, rgba(138, 210, 252, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(44, 172, 232, 1) 0%, rgba(44, 172, 232, 1) 1%, rgba(138, 210, 252, 1) 100%);
  background: linear-gradient(135deg, rgba(44, 172, 232, 1) 0%, rgba(44, 172, 232, 1) 1%, rgba(138, 210, 252, 1) 100%);
}

.link-arrowed {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
}

.link-arrowed .arrow-icon {
  position: relative;
  top: -1px;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  vertical-align: middle;
}

.link-arrowed .arrow-icon-circle {
  transition: stroke-dashoffset .3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}

.link-arrowed:hover .arrow-icon {
  -webkit-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
}

.link-arrowed:hover .arrow-icon-circle {
  stroke-dashoffset: 0;
}

.link-arrowed .arrow-icon {
  position: relative;
  top: -1px;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  vertical-align: middle;
}

.link-arrowed .arrow-icon-circle {
  transition: stroke-dashoffset .3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}

.link-arrowed:hover .arrow-icon {
  -webkit-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
}

.link-arrowed:hover .arrow-icon-circle {
  stroke-dashoffset: 0;
}

.rec-blog {
  background: #6ec7f6;
}

.blog-title h4,
.rec-blog .end {
  font: italic 26px 'Montserrat Alternates', sans-serif;
  text-align: center;
}

.blog-title p {
  font: normal 300 24px 'Montserrat Alternates', sans-serif;
  margin: 30px 0 60px;
}

.backfeed-sprite {
  background: url(images/backfeed-icons.png) no-repeat;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: -4px;
}

.backfeed-form-green {
  width: 26px;
  height: 18px;
  background-position: 0 0;
}

.backfeed-form-orange {
  width: 26px;
  height: 18px;
  background-position: 0 -18px;
}

.backfeed-form-violet {
  width: 26px;
  height: 18px;
  background-position: -0 -36px;
}

.backfeed-mail-green {
  width: 26px;
  height: 18px;
  background-position: 0 -54px;
}

.backfeed-mail-orange {
  width: 26px;
  height: 18px;
  background-position: 0 -72px;
}

.backfeed-mail-violet {
  width: 26px;
  height: 18px;
  background-position: 0 -90px;
}

.btn-sticker {
  position: relative;
  display: inline-block;
  clear: both;
  height: 164px;
  width: 595px;
  margin-bottom: 50px;
}

.btn-sticker .right .text {
  height: 100px;
  width: 475px;
  position: absolute;
  top: 50%;
  left: 67px;
  line-height: 85px;
  border: 3px solid #fff;
  margin-top: -50px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  -webkit-border-top-right-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-radius-topright: 100px;
  -moz-border-radius-bottomright: 100px;
}

.btn-sticker .shadow {
  position: absolute;
  width: 470px;
  height: 82px;
  box-shadow: 0 2px 12px #515151;
  z-index: 0;
  top: 50%;
  left: 65px;
  margin-top: -37px;
}

.btn-sticker .right .shadow {
  -moz-transform: rotate(1.5deg);
  -webkit-transform: rotate(1.5deg);
  -o-transform: rotate(1.5deg);
  -ms-transform: rotate(1.5deg);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  -webkit-border-top-right-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-radius-topright: 100px;
  -moz-border-radius-bottomright: 100px;
}

.btn-sticker .left .shadow {
  transform: rotate(-1.5deg);
  -moz-transform: rotate(-1.5deg);
  -webkit-transform: rotate(-1.5deg);
  -o-transform: rotate(-1.5deg);
  -ms-transform: rotate(-1.5deg);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  -webkit-border-top-left-radius: 100px;
  -webkit-border-bottom-left-radius: 100px;
  -moz-border-radius-topleft: 100px;
  -moz-border-radius-bottomleft: 100px;
}

.annual-addings {
  position: relative;
  height: 200px;
  padding: 40px 0;
}

.annual-addings::before {
  background: white;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 20px;
  left: 50%;
  bottom: -20px;
  width: 4px;
}

.annual-addings:last-child::before {
  content: none;
}

.annual-addings .date {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  display: inline-block;
  margin-right: 19px;
}

.description span.title {
  width: 210px;
}

a.description.link-arrowed>* {
  display: inline-block;
  vertical-align: middle;
}

.annual-addings .description {
  font-size: 16px;
  font-style: italic;
  color: #fff;
  padding-left: 15px;
}

.annual-addings .description:hover {
  text-decoration: none;
}

.annual-addings .item img {
  position: absolute;
  top: -74px;
  left: 50%;
}

.annual-addings .year {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 25px;
  left: 25px;
  font: 50px/112.5px 'heading_pro_ultracompresseXBd';
  background: #fff;
  border-radius: 100px;
  box-sizing: border-box;
  margin: 0;
  box-shadow: inset 5px 3px 6px rgba(0, 0, 0, 0.4), 0 0 0 10px #fff, 5px 6px 4px 11px #0003;
  vertical-align: 100px;
  text-align: center;
}

.annual-addings .circle {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  padding: 75px;
  border: 4px solid #fff;
  left: 50%;
  top: 10px;
  margin-left: -76px;
}

.annual-addings .btn-sticker .text {
  height: 100px;
  width: 482px;
  position: absolute;
  line-height: 89px;
  border: 4px solid #fff;
  padding: 0 34px;
}

.annual-addings .right .text {
  right: 425px;
  top: 50px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  -webkit-border-top-right-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-radius-topright: 100px;
  -moz-border-radius-bottomright: 100px;
}

.annual-addings .left .text {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  -webkit-border-top-left-radius: 100px;
  -webkit-border-bottom-left-radius: 100px;
  -moz-border-radius-topleft: 100px;
  -moz-border-radius-bottomleft: 100px;
}

.annual-addings .btn-sticker.left {
  width: 600px;
  left: 73px;
  position: absolute;
}

.annual-addings .btn-sticker.right {
  width: 600px;
  left: 600px;
  position: absolute;
}

.annual-addings .left .shadow {
  top: 50px;
  left: 11px;
}

.annual-addings .right .shadow {
  top: 50px;
  right: 11px;
}

.annual-addings:first-child .images.right {
  top: -60px;
}

.images.left {
  width: 600px;
  left: 0;
  position: absolute;
  top: 0;
}

.images.right {
  width: 600px;
  right: 0;
  position: absolute;
  top: 0;
  text-align: center;
}

.images.left .img-container,
.images.right .img-container {
  position: absolute;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.images.left .img-container.active,
.images.right .img-container.active {
  visibility: visible;
  opacity: 1;
}

.images.left img,
.images.right img {
  position: relative;
  left: -50%;
}

.btn-sticker .link {
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 28px 34px 15px 110px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.btn-sticker .link span {
  font-size: 12px;
  display: inline-block;
  font-style: italic;
  font-weight: 400;
}

.btn-sticker .link:hover {
  text-decoration: none;
}

.btn-sticker .link-arrowed .arrow-icon {
  position: absolute;
  right: 29px;
  top: 28px;
}

.annual-addings .btn-sticker .arrow-icon {
  position: relative;
  top: auto;
  right: auto;
}

.annual-addings .navigation {
  position: absolute;
  top: 104px;
}

.annual-addings .right .navigation {
  left: 90px;
}

.annual-addings .left .navigation {
  right: 0;
  left: auto;
  margin-right: 140px;
}

.annual-addings .navigation button {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  border: 2px solid #fff;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  margin: 0 1px;
}

.annual-addings.red .navigation button {
  background: #b51315;
}

.annual-addings.violet .navigation button {
  background: #5e225f;
}

.annual-addings.orange .navigation button {
  background: #ed9b31;
}

.annual-addings.green .navigation button {
  background: #6bab12;
}

.annual-addings.blue .navigation button {
  background: #48b8ee;
}

.annual-addings .navigation button.active {
  width: 16px;
  height: 16px;
  border-radius: 20px;
}

.btn-sticker .circle {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  padding: 75px;
  border: 3px solid #fff;
  top: 50%;
  margin-top: -82.5px;
  box-shadow: 2px 2px 3px #0003;
}

.green .text {
  background: rgba(90, 150, 7, 1);
  background: -moz-linear-gradient(left, rgba(90, 150, 7, 1) 0%, rgba(124, 192, 29, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90, 150, 7, 1)), color-stop(100%, rgba(124, 192, 29, 1)));
  background: -webkit-linear-gradient(left, rgba(90, 150, 7, 1) 0%, rgba(124, 192, 29, 1) 100%);
  background: -o-linear-gradient(left, rgba(90, 150, 7, 1) 0%, rgba(124, 192, 29, 1) 100%);
  background: -ms-linear-gradient(left, rgba(90, 150, 7, 1) 0%, rgba(124, 192, 29, 1) 100%);
  background: linear-gradient(to right, rgba(90, 150, 7, 1) 0%, rgba(124, 192, 29, 1) 100%);
}

.btn-sticker .img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 25px;
  left: 25px;
  background: #fff;
  border-radius: 100px;
  box-sizing: border-box;
  margin: 0;
  box-shadow: inset 5px 3px 6px rgba(0, 0, 0, 0.4), 0 0 0 10px #fff, 5px 6px 4px 11px #0003;
  vertical-align: 100px;
  text-align: center;
}

.btn-sticker .img.print-ondemand {
  background-image: url(images/order-icon.png);
  background-repeat: no-repeat;
  background-position: 26px 26px;
}

.btn-sticker .img.popular-sizes {
  background-image: url(images/popular-icon.png);
  background-repeat: no-repeat;
  background-position: 28px 16px;
}

.smart-choise {
  background-color: #fff;
  background-image: url(images/advices-img-1.png);
  height: 243px;
  background-repeat: no-repeat;
  background-position: 644px center;
  position: relative;
}

.smart-choise p {
  background-image: url(images/advices-img-2.png);
  width: 767px;
  position: absolute;
  top: 55px;
  margin: 0;
  padding: 40px;
  font-size: 16px;
  line-height: 27px;
}

.delivery-img {
  margin-top: -80px;
  margin-bottom: 40px;
}

.row.ribbons {
  font-size: 16px;
  margin: 60px 0;
}

.ribbons dd:before {
  content: "" !important;
}

.ribbons dt {
  color: #000;
  margin: 25px 0 40px;
  position: relative;
}

.ribbons dt::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 1px;
  background-color: #8f8e8e;
  left: 50%;
  bottom: -30px;
  margin-left: -40%;
}

.ribbons dd {
  color: #8f8e8e;
  margin-top: 60px;
  position: relative;
}

.ribbons dd::after {
  content: '';
  position: absolute;
  width: 140px;
  background: #e1e1e1 url(images/ribbons-ico.png) no-repeat;
  left: 50%;
  top: -48px;
  margin-left: -70px;
}

.ribbons .wax dd::after {
  background-position: 60% -33px;
  height: 30px;
}

.ribbons .wax-resine dd::after {
  background-position: 50% 0;
  height: 30px;
}

.ribbons .resine dd::after {
  background-position: 50% -65px;
  height: 30px;
}

.separator {
  margin: 40px -35px;
  height: 2px;
  background: rgba(238, 36, 85, 1);
  background: -moz-linear-gradient(left, rgba(238, 36, 85, 1) 0%, rgba(254, 121, 4, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(238, 36, 85, 1)), color-stop(100%, rgba(254, 121, 4, 1)));
  background: -webkit-linear-gradient(left, rgba(238, 36, 85, 1) 0%, rgba(254, 121, 4, 1) 100%);
  background: -o-linear-gradient(left, rgba(238, 36, 85, 1) 0%, rgba(254, 121, 4, 1) 100%);
  background: -ms-linear-gradient(left, rgba(238, 36, 85, 1) 0%, rgba(254, 121, 4, 1) 100%);
  background: linear-gradient(to right, rgba(238, 36, 85, 1) 0%, rgba(254, 121, 4, 1) 100%);
}

.p0 {
  padding: 0 !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb15 {
  margin-bottom: 15px;
}

.ml20 {
  margin-left: 20px;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.w50 {
  width: 50%;
}

.w80 {
  width: 80%;
}

.ta {
  text-align: center;
}

.ta-r {
  text-align: right;
}

#a_slider .img-holder {
  border: 1px solid #ef2950;
  background: #e4e4e4;
  position: relative;
  padding: 5px;
}

#a_slider img {
  width: 100%;
  border: 1px solid #ef2950;
}

#a_slider .img-holder .btn {
  position: absolute;
  right: 21px;
  bottom: -17px;
  border: 4px solid #e4e4e4;
}

#a_slider h4 {
  font-size: 14px;
  color: #838282;
  margin: 25px 0 30px 15px;
}

#a_slider .col-md-4 :before,
#a_slider .col-md-4 :after {
  /* content: ""; */
  position: absolute;
  top: 0;
  bottom: 0;
  width: 13px;
  transition: all .3 ease-in;
}

#a_slider .col-md-4:after {
  right: -14px;
}

#a_slider .col-md-4:before {
  left: -11px;
}

#a_slider .col-md-4:hover {
  background: linear-gradient(to bottom, rgba(228, 228, 228, 1) 62%, rgba(228, 228, 228, 0.5) 81%, rgba(0, 0, 0, 0) 100%);
  box-shadow: 0 -6px 10px #0000001c;
}

#a_slider .col-md-4:hover:after {
  background: rgba(0, 0, 0, 1);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
}

#a_slider .col-md-4:hover:before {
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.08) 100%);
}

.rec-blog-inner {
  padding-top: 40px;
  padding-bottom: 60px;
}

.blog-ct-title hr {
  margin: 25px 28px;
  border-top: 2px solid #aeadad;
}

.blog-title {
  text-align: center;
  margin-bottom: 30px;
}

.blog-ct {
  margin-bottom: 50px;
}

.blog-ct .inner {
  background: #fbfdff;
  position: relative;
  padding-bottom: 24px;
  padding-top: 125px;
}

.blog-ct .inner .circle {
  position: absolute;
  width: 90px;
  height: 90px;
  border-radius: 100px;
  padding: 75px;
  border: 4px solid #fff;
  left: 50%;
  top: -40px;
  margin-left: -82px;
  -webkit-box-sizing: 1px 1px 4px #00000080, 0 0 0px 6px #6ec7f6;
  box-sizing: 2px 2px 3px #0003, 0 0 0px 6px #6ec7f6;
}
.blog-ct .inner .circle:before {
  content: " ";
position: absolute;
z-index: 0;
top: -10px;
left: -10px;
right: -10px;
bottom: -10px;
border: 6px solid #6ec7f6;
border-radius: 88px;
}
.blog-ct .inner .year {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 25px;
  left: 25px;
  font: 50px/136.5px 'heading_pro_ultracompresseXBd';
  background: #fff;
  border-radius: 100px;
  box-sizing: border-box;
  margin: 0;
  box-shadow: inset 5px 3px 6px rgba(0, 0, 0, 0.4), 0 0 0 10px #fff, 5px 6px 4px 11px #0003;
  vertical-align: 100px;
  text-align: center;
}

.blog-ct-title h5 {
  font-family: 'IBM Plex Serif Medium', serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
  line-height: 20px;
  padding: 0 5px;
  text-transform: uppercase;
}

.blog-ct-title.orange h5 {
  color: #ed9b31;
}

.blog-ct-title.green h5 {
  color: #69a810;
}

.blog-ct-title.violet h5 {
  color: #602561;
}

.blog-ct-title a {
  display: block;
  width: 212px;
  margin: 0 auto 15px;
  font-family: 'IBM Plex Serif Medium', serif;
  text-decoration: none;
  color: #2b2a2f;
}

.blog-ct .bubble {
  position: absolute;
  top: 19px;
  left: 23px;
  width: 57px;
  height: 62px;
  background: url(images/backfeed-bubbles.png);
}

.blog-ct .orange .bubble {
  background-position-y: -123px;
}

.blog-ct .green .bubble {
  background-position-y: 0;
}

.blog-ct .violet .bubble {
  background-position-y: -62px;
}

.footer-widget {
  background: #282f39;
  padding-top: 40px;
  padding-bottom: 30px;
  color: #fff;
}

.text-widget a {
  color: #fff;
  font-weight: bold;
}

.text-widget p {
  line-height: 20px;
  font: italic 12px/18px 'Montserrat Alternates', sans-serif;
  margin-top: 25px;
}

.footer-ico {
  background: url(images/footer-ico.png) no-repeat;
  display: inline-block;
  margin-right: 10px;
  width: 19px;
}

.footer-ico-block span {
  background-image: linear-gradient(120deg, #fff 0%, #ffffff1a 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 99%;
  background-image: linear-gradient(120deg, #fff 0%, #ffffff1a 100%);
  background-size: 0 5px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .2s ease-out;
}

.footer-ico-block span:hover {
  background-size: 100% 1px, auto;
}

.quick-links.other-links a {
  color: #a4b8d6;
}

.quick-links.other-links a:hover {
  color: #fff;
}

.footer-ico-footer-ico-brush {
  height: 16px;
  background-position: -3px -3px;
}

.footer-ico-footer-ico-faq {
  height: 16px;
  background-position: -3px -25px;
}

.footer-ico-footer-ico-sitemap {
  height: 16px;
  background-position: -3px -47px;
}

.footer-ico-footer-ico-vacancies {
  height: 15px;
  background-position: -3px -69px;
}

.bottom-logo {
  width: 90%;
}

.quick-links a {
  color: #fff;
  text-decoration: none;
}

.quick-links.other-links .wid-title {
  color: #a4b8d6;
  text-shadow: 2px 1px 0px #282f39, 1px 2px 0px rgba(183, 183, 183, 0.29);
  text-transform: uppercase;
  margin-bottom: 30px;
  font: 700 normal 16px 'IBM Plex Serif', serif;
}

.btn-white {
  font-size: 12px;
  display: block;
  border: 1px solid #fff;
  border-radius: 20px;
}

.quick-links a.btn:hover {
  background: #fff;
  border-color: #fff;
}

.quick-links ul {
  margin: 0;
  padding: 0;
}

.quick-links li {
  list-style: none;
  margin-bottom: 8px;
  font-size: 13px;
}

.other-links li:last-child {
  margin-bottom: 30px;
}

.subscribe p {
  font-size: 13px;
  color: #fff;
  line-height: 21px;
}

.subscribe .form-control {
  height: 40px;
  border: none;
  box-shadow: none;
}

.subscribe .btn {
  width: 100%;
  border: none;
  background: #66cef6;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  height: 40px;
  font-size: 13px;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.subscribe .btn:hover {
  background: #34b0df;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.footer-text {
  background: #282f39;
  text-align: center;
  font: italic 14px 'Montserrat Alternates';
  letter-spacing: 2px;
}

.cities .container {
  padding: 15px 0;
  border-top: 1px solid #535860;
}

.footer-text.cities a {
  color: #8495ad;
  border-right: 1px solid #8495ad;
  padding-right: 16px;
  padding-left: 10px;
}

.footer-text.cities a:last-child {
  border-right: none;
}

.footer-text.cities a:hover {
  text-decoration: none;
  color: #b2c3dc;
}

.material-scrolltop {
  display: block;
  position: fixed;
  width: 0;
  height: 0;
  bottom: 23px;
  right: 23px;
  padding: 0;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 2px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  cursor: hand;
  border-radius: 50%;
  background: url(images/to-the-top.png);
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0, 1);
}

.material-scrolltop:hover {
  text-decoration: none;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5), 0 3px 15px rgba(0, 0, 0, 0.5);
}

.material-scrolltop::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  width: 0;
  border-radius: 100%;
  background: #66bb6a;
}

.material-scrolltop:active::before {
  width: 120%;
  padding-top: 120%;
  -webkit-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.material-scrolltop.reveal {
  width: 75px;
  height: 75px;
}

.material-scrolltop span {
  display: block;
  font-size: 25px;
  color: #fff;
}

.material-scrolltop,
.material-scrolltop::before {
  background-image: url(images/to-the-top.png);
  background-position: center 50%;
  background-repeat: no-repeat;
}

.about-company {
  background: #e1e1e1;
  color: #2e2e2e;
}

.about-company p {
  margin: 25px 0;
}

.about-company li {
  margin-bottom: 10px;
}

a.in-text {
  background: rgba(169, 5, 8, 1);
  background: -moz-linear-gradient(left, rgba(169, 5, 8, 1) 0%, rgba(251, 105, 100, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169, 5, 8, 1)), color-stop(100%, rgba(251, 105, 100, 1)));
  background: -webkit-linear-gradient(left, rgba(169, 5, 8, 1) 0%, rgba(251, 105, 100, 1) 100%);
  background: -o-linear-gradient(left, rgba(169, 5, 8, 1) 0%, rgba(251, 105, 100, 1) 100%);
  background: -ms-linear-gradient(left, rgba(169, 5, 8, 1) 0%, rgba(251, 105, 100, 1) 100%);
  background: linear-gradient(to right, rgba(169, 5, 8, 1) 0%, rgba(251, 105, 100, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out;
}

.ie11 a.in-text{
  color:#ee2455;
  background: none;
  border-bottom: 1px solid;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.ie11 a.in-text:hover {
  border-bottom-color: transparent;
}

.in-text:hover {
  background: -moz-linear-gradient(left, rgba(169, 5, 8, 1) 0%, rgba(181, 23, 20, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169, 5, 8, 1)), color-stop(100%, rgba(181, 23, 20, 1)));
  background: -webkit-linear-gradient(left, rgba(169, 5, 8, 1) 0%, rgba(181, 23, 20, 1) 100%);
  background: -o-linear-gradient(left, rgba(169, 5, 8, 1) 0%, rgba(181, 23, 20, 1) 100%);
  background: -ms-linear-gradient(left, rgba(169, 5, 8, 1) 0%, rgba(181, 23, 20, 1) 100%);
  background: linear-gradient(to right, rgba(169, 5, 8, 1) 0%, rgba(181, 23, 20, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.heading {
  color: #fff;
  background: rgba(255, 128, 0, 1);
  background: -moz-linear-gradient(-45deg, rgba(255, 128, 0, 1) 0%, rgba(238, 36, 87, 1) 39%, rgba(238, 36, 87, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255, 128, 0, 1)), color-stop(39%, rgba(238, 36, 87, 1)), color-stop(100%, rgba(238, 36, 87, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(255, 128, 0, 1) 0%, rgba(238, 36, 87, 1) 39%, rgba(238, 36, 87, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255, 128, 0, 1) 0%, rgba(238, 36, 87, 1) 39%, rgba(238, 36, 87, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255, 128, 0, 1) 0%, rgba(238, 36, 87, 1) 39%, rgba(238, 36, 87, 1) 100%);
  background: linear-gradient(135deg, rgba(255, 128, 0, 1) 0%, rgba(238, 36, 87, 1) 39%, rgba(238, 36, 87, 1) 100%);
  margin-bottom: 35px;
}

.heading p {
  font: 20px 'Montserrat Alternates', sans-serif;
  text-transform: lowercase;
  margin-top: 30px;
  margin-bottom: 0px;
}

.heading h2 {
  font: italic 700 40px/24px 'IBM Plex Serif', serif;
  text-shadow: 0px 1px 0px #ee2457, 1px 2px 0px rgba(254, 254, 254, 0.5);
  text-transform: lowercase;
  margin: 0 0 60px 0;
}

.about-company dt {
  font-weight: 400;
}

.about-company dd::before {
  content: "▶";
  padding-right: 8px;
  font-size: 9px;
  display: inline-block;
  vertical-align: middle;
}

.about-company ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.about-company li:before {
  content: "▶";
  font-size: 9px;
  padding-right: 8px;
}

.btn-magenta {
  background:#ee2455;
  background: linear-gradient(90deg, var(--c1, #f6d365), var(--c2, #fda085) 21%, var(--c1, #f65527)) var(--x, 0)/ 200%;
  color: #fff;
  font-weight: 700;
  border-radius: 20px;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.btn-magenta:hover, .btn-magenta:focus {
  color: #fff;
  text-decoration: none;
  /* background-image: linear-gradient(120deg, #ee2455 0%, #ff7f00 100%); */
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.btn-magenta:active {
  background: #e42150;
  ;
}

.btn:hover {
  --x: 100%;
}

.btn-magenta {
  --c1: #ff7f00;
  --c2: #ee2455;
}

.btn-magenta.line {
  background: none;
  border: 3px solid #ee2455;
  color: #ee2455;
}

.btn-magenta.sm {
  font-size: 12px;
  font-weight: 400;
}

.btn.btn-magenta.line.btn-add-selected {
  padding-left: 60px;
  padding-right: 25px;
  background: url(images/item-grpahics.png) no-repeat 17px 0;
  margin-top: 47px;
}

.btn-magenta.line.btn-add-selected:hover {
  background-color: rgba(238, 36, 85, 0.08);
}

.btn.btn-magenta.btn-order span {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(images/item-grpahics.png);
  background-position: -8px -229px;
  background-repeat: no-repeat;
  left: 30px;
}

.btn-order {
  position: relative;
  text-transform: uppercase;
  display: block;
  max-width: 262px;
  margin: 0;
  padding: 7px 25px 9px 60px;
}

.table>thead>tr>th {
  border: 2px solid #ededed;
  border-top: 2px solid #ededed !important;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fcfcfc;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: #727475;
  padding-left: 30px;
  padding-right: 30px;
}

.table>tbody>tr>td {
  border: 2px solid #ededed;
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
}

#cat-nav .navbar-default {
  border: none;
  background: none;
  margin: 0;
  border-radius: 0;
  margin-left: -35px;
}

#cat-nav .navbar-default .navbar-collapse, #cat-nav .navbar-default .navbar-form {
  border: none;
  background: none;
}

#cat-nav .navbar-default .navbar-nav>.active>a, #cat-nav .navbar-default .navbar-nav>.active>a:focus, #cat-nav .navbar-default .navbar-nav>.active>a:hover {
  background: none;
}

#cat-nav .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

/* #cat-nav ul li:first-child a {
  padding-left: 17px;
} */
.menu-large {
  position: static !important;
}

.megamenu {
  padding: 20px 0px;
  width: 100%;
}

.megamenu>li>ul {
  padding: 0;
  margin: 0;
}

.megamenu>li>ul>li {
  list-style: none;
}

.megamenu>li>ul>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}

.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}

@media (max-width: 768px) {
  .megamenu {
    margin-left: 0;
    margin-right: 0;
  }

  .megamenu>li {
    margin-bottom: 30px;
  }

  .megamenu>li:last-child {
    margin-bottom: 0;
  }

  .megamenu.dropdown-header {
    padding: 3px 15px !important;
  }

  .navbar-nav .open .dropdown-menu .dropdown-header {
    color: #fff;
  }
}

#cat-nav ul li ul li {
  float: none;
  border: none;
}

#cat-nav .dropdown-menu>li {
  margin-bottom: 0;
}

#cat-nav .dropdown-menu {
  border-top: 3px solid #ee2455;
  padding-left: 32px;
}

#catalogDropdown.dropdown-menu {
  padding: 0;
}

#catalogDropdown a {
  padding: 14px 35px 14px 65px;
  line-height: normal;
  position: relative;
}

#catalogDropdown a.active {
  background: #ee2455;
  color: #fff;
}

.dropdown-menu.sub-menu.click-activation.show {
  border-left: 3px solid #ee2455;
}

#catalogDropdown .dropdown-menu.sub-menu {
  padding-left: 0;
  top: -3px;
}

#catalogDropdown .sub-menu a {
  padding-left: 35px;
}

#catalogDropdown .dropdown-toggle:after {
  content: '';
  position: absolute;
  right: 14px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 6px;
  border-color: transparent transparent transparent #ee2455;
  top: 50%;
  margin-top: -4px;
}

#catalogDropdown .icon:before {
  content: '';
  position: absolute;
  background-image: url(images/sub-menu-icons-catalog.png);
  left: 19px;
  top: 50%;
}

#catalogDropdown .icon.labels:before {
  width: 31px;
  height: 35px;
  background-position: 0 -114px;
  margin-top: -16px;
}

#catalogDropdown .icon.labels.active:before {
  background-position: 0 -149px;
}

#catalogDropdown .icon.ribbons:before {
  width: 41px;
  height: 30px;
  background-position: 0px -253px;
  margin-top: -16px;
  margin-left: -2px;
}

#catalogDropdown .icon.ribbons.active:before {
  background-position: 0px -284px;
}

#catalogDropdown .icon.textile:before {
  width: 36px;
  height: 34px;
  background-position: 0 -315px;
  margin-top: -16px;
}

#catalogDropdown .icon.foil:before {
  width: 31px;
  height: 33px;
  background-position: 0 0;
  margin-top: -16px;
}

#catalogDropdown .icon.gunlabels:before {
  width: 37px;
  height: 24px;
  background-position: 4px -66px;
  margin-top: -16px;
}

#catalogDropdown .icon.printheads:before {
  width: 41px;
  height: 35px;
  background-position: 0 -185px;
  margin-top: -16px;
  margin-left: -3px;
}

#catalogDropdown .icon.tickets:before {
  width: 38px;
  height: 33px;
  background-position: 0 -384px;
  margin-top: -16px;
}

#catalogDropdown.dropdown-menu,
.dropdown-menu.sub-menu {
  transition-delay: 0s;
  transition-duration: .1s
}

#cat-nav .dropdown-menu {}

.show {
  display: block;
  visibility: visible;
  opacity: 1;
}

.dropright .dropdown-menu {
  position: absolute;
  /* transform: translate3d(309px, 0px, 0px); */
  top: -3px;
  /* right: 0px;
  left: auto; */
}

.mega-sub {
  margin-bottom: 20px;
  margin-top: 20px;
}

#cat-nav .mega-sub ul li a,
#cat-nav .mega-sub a.show-all {
  position: relative;
  color: #2e2e2e;
  font-size: 12px;
  text-transform: none;
  padding: 2px;
}

#cat-nav .mega-sub a.show-all {
  padding-right: 34px;
  background: url(images/cat-icons.png) 100% -162px no-repeat;
}

#cat-nav .mega-sub ul li:last-child {
  margin-bottom: 20px;
}

#cat-nav .mega-sub ul li a:hover,
#cat-nav .mega-sub a.show-all:hover {
  text-decoration: underline !important;
}

.mega-sub-title:before {
  content: '';
  background-image: url(images/sub-menu-icons.png);
  display: block;
  float: left;
  margin-right: 15px;
}

.mega-sub-title {
  font-size: 12px;
  color: #ee2455;
  font-weight: 700;
  margin-bottom: 15px;
  margin-left: -30px;
  position: relative;
}

.mega-sub-title.sizes:before {
  background-position: -2px -125px;
  width: 25px;
  height: 25px;
}

.mega-sub-title.material:before {
  background-position: -2px -95px;
  width: 28px;
  height: 26px;
  margin-left: -15px;
  margin-right: 15px;
}

.mega-sub-title.application:before {
  background-position: -2px -61px;
  width: 31px;
  height: 28px;
  margin-left: -15px;
  margin-right: 15px;
}

.mega-sub-title.function:before {
  background-position: -2px -153px;
  width: 28px;
  height: 28px;
  margin-left: -15px;
  margin-right: 15px;
}

.mega-sub a.icon:before {
  content: '';
  position: absolute;
  left: -23px;
  width: 18px;
  height: 18px;
  background-image: url(images/sub-menu-icons.png);
}

.mega-sub a.icon.hit {
  background: #f7d3d0;
}

.mega-sub a.icon.hit:before {
  background-position: -1px -2px;
}

.mega-sub a.icon.new {
  background: #dceefa;
  ;
}

.mega-sub a.icon.new:before {
  background-position: -1px -22px;
}

.mega-sub a.icon.sale {
  background: #dff0da;
}

.mega-sub a.icon.sale:before {
  background-position: -1px -42px;
}


#main-cat {
  padding: 35px 0 0px;
  position: relative;
}
#main-cat:before {
    content: '';
    left: 0;
    right: 0;
    z-index: 2;
    height: 1px;
    top: -3px;
    position: absolute;
    box-shadow: 0 6px 5px #af0d36;
}
#main-cat .item:hover {
  text-decoration: none;
  color: inherit;
}

#main-cat .item:last-child {
  margin-right: 0;
}

#main-cat .item img {
  margin: 25px auto;
  box-shadow: 3px 2px 10px #410e42;
  transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transition: all .3s ease-in;
  width: 170px;
  display: block;
}

#main-cat .item:hover img {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

#main-cat .item h3 {
  font-size: 14px;
  color: #fff;
  margin-left: 27px;
}

h3.item {
  position: relative;
  width: 230px;
  height: 272px;
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
}
h3.item::before, h3.item::after {
  content: "";
  position: absolute;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8f6a8c), to(#5e225f));
  background-image: -webkit-linear-gradient(#8f6a8c, #5e225f);
  background-image: -moz-linear-gradient(#8f6a8c, #5e225f);
  background-image: -o-linear-gradient(#8f6a8c, #5e225f);
  background-image: linear-gradient(#8f6a8c, #5e225f);
  top: 0px;
  bottom: 0px;
  width: 2px;
}

h3.item::after {
  right: 0px;
}

h3.item {
  border-top: 2px solid #8f6a8c;
  border-bottom: 2px solid #5e225f;
}

h3.item a {

    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(94,34,95,1);
background: -moz-linear-gradient(45deg, rgba(94,34,95,1) 0%, rgba(94,34,95,1) 38%, rgba(143,106,140,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(94,34,95,1)), color-stop(38%, rgba(94,34,95,1)), color-stop(100%, rgba(143,106,140,1)));
background: -webkit-linear-gradient(45deg, rgba(94,34,95,1) 0%, rgba(94,34,95,1) 38%, rgba(143,106,140,1) 100%);
background: -o-linear-gradient(45deg, rgba(94,34,95,1) 0%, rgba(94,34,95,1) 38%, rgba(143,106,140,1) 100%);
background: -ms-linear-gradient(45deg, rgba(94,34,95,1) 0%, rgba(94,34,95,1) 38%, rgba(143,106,140,1) 100%);
background: linear-gradient(45deg, rgba(94,34,95,1) 0%, rgba(94,34,95,1) 38%, rgba(143,106,140,1) 100%);
    margin: 3px 0px 3px 5px;
    right: 5px;
}

h3.item a span {
  display: block;
  font-size: 14px;
  color: #fff;
  padding: 0 15px;
}

.carousel {
  position: relative;
}

.carousel.pointer-event {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  -webkit-transform: none;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: 0s 0.6s opacity;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators li {
    transition: none;
  }
}

.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
